@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran-Regular.woff2') format('woff2'),
        url('../fonts/Catamaran-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran-Bold.woff2') format('woff2'),
        url('../fonts/Catamaran-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}